.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  min-height: 150px;
  max-height: 500px;
  height: 100%;

  position: absolute;
  border-radius: 3px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.login-full-width {
  width: 100%;
}

.login-button{
  width: 100%;
}

.login-header {
  text-align: center;
}
