<div class="col-md-6">

  <form class="login-form" (ngSubmit)="loginUser()">
    <h1 class="mat-h1 login-header">Login</h1>

    <mat-form-field class="login-full-width">
      <input matInput placeholder="Username or Email" [(ngModel)]="login.usernameOrEmail" name="userName" id="userName" [formControl]="usernameOrEmailFormControl">
      <mat-error *ngIf="usernameOrEmailFormControl.hasError('required')">
        Please enter username of email
      </mat-error>
    </mat-form-field>


    <mat-form-field class="login-full-width">
      <input matInput placeholder="Password" min="6" max="20" [(ngModel)]="login.password" name="password" id="password" type="password" [formControl]="passwordFormControl">
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is cannot be empty
      </mat-error>
    </mat-form-field>

    <button mat-flat-button class="login-button">Login</button>
    <h3 class="mat-h3">
      Don't have an account?
      <a [routerLink]="['/register']">Register now!</a>
    </h3>
  </form>

</div>




