.root {
    -fx-base: rgb(50, 50, 50);
    -fx-background: rgb(50, 50, 50);
    -fx-control-inner-background: rgb(50, 50, 50);
    -fx-border-width: 2;
    -fx-border-color: rgb(40, 40, 40);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    prompt-player-color: darkOrange;
}

#headerPanel {
    -fx-background-color: rgb(40, 40, 40);
    -fx-border-radius: 0 0 10 10;
    -fx-background-radius: 0 0 10 10;
}

#chatText:disabled {
    -fx-background-color: rgb(80, 80, 80);
    -fx-opacity: 1.0;
}

#battlePane {
    -fx-background-color: black;
}

.list-view {
    -fx-border-width: 2;
    -fx-border-color: rgb(40, 40, 40);
}

.list-cell:filled:selected {
    -fx-background-color: rgb(60, 60, 80);
}

*.headerButton {
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
}
.buttonIcon{
    -fx-effect: dropshadow( three-pass-box , black , 5, 0.0 , 0 , 1 );
}
.menuButton {
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-text-fill: white;
    vertical-align: bottom;
    -fx-border-width: 2;
    -fx-effect: dropshadow( three-pass-box , black , 5, 0.0 , 0 , 1 );
    -fx-border-color: saddlebrown;
    -fx-background-color: linear-gradient(darkgoldenrod, saddlebrown);
}
.menuButton:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
.menuButton:pressed {
    -fx-background-color: linear-gradient(saddlebrown, darkgoldenrod);
}

*.promptPlayerBox {
    -fx-border-width: 2;
    -fx-border-color: prompt-player-color;
}
*.promptPlayerLabel {
    -fx-text-fill: prompt-player-color;
}

.button {
    -fx-background-color: transparent;
}

.button:hover {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-color: -fx-hover-base;
}

.separator-label {
    -fx-text-fill: orange;
}