.root {
    -fx-base: rgb(50, 50, 50);
    -fx-background: rgb(50, 50, 50);
    -fx-control-inner-background:  rgb(50, 50, 50);
    -fx-border-width:2;
    -fx-border-color:rgb(40, 40, 40);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#headerPanel {
    -fx-background-color: rgb(40, 40, 40);
    -fx-border-radius: 0 0 10 10;
    -fx-background-radius: 0 0 10 10;
}

#chatText:disabled {
    -fx-background-color: rgb(80, 80, 80);
    -fx-opacity: 1.0;
}

.list-view {
    -fx-border-width:2;
    -fx-border-color:rgb(40, 40, 40);
}
.list-cell:filled:selected {
    -fx-background-color: rgb(60, 60, 80);
}

*.headerButton {
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
}

.button {
    -fx-background-color: transparent;
}

.button:hover {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-color: -fx-hover-base;
}


.separator-label {
    -fx-text-fill: orange;
}