<div class="col-md-6">
  <h2 class="text-center">Register</h2>

  <form class="suer-form">
    <mat-form-field class="user-full-width">
      <input matInput placeholder="Username" [(ngModel)]="user.username" name="userName" id="userName">
    </mat-form-field>
    <br/>
    <mat-form-field class="user-full-width">
      <input matInput placeholder="Email" [(ngModel)]="user.email" name="email" id="email" [formControl]="emailFormControl">
    </mat-form-field>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
    <br/>
    <mat-form-field class="user-full-width">
      <input matInput placeholder="Password" [(ngModel)]="user.password" name="email" id="password" type="password">
    </mat-form-field>
    <br/>
    <button mat-flat-button (click)="createUser()">Create</button>
  </form>

</div>
