<div class="col-md-6">
  <h2 class="text-center">Register</h2>

  <form class="register-form">

    <mat-form-field class="register-full-width">
      <input matInput placeholder="Username" [(ngModel)]="user.username" name="userName" id="userName" [formControl]="usernameFormControl">
      <mat-error *ngIf="usernameFormControl.hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="usernameFormControl.hasError('minlength') || usernameFormControl.hasError('maxlength')">
        Username must be between <strong>3 and 15</strong> characters
      </mat-error>
    </mat-form-field>


    <mat-form-field class="register-full-width">
      <input matInput placeholder="Email" [(ngModel)]="user.email" name="email" id="email" [formControl]="emailFormControl">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>


    <mat-form-field class="register-full-width">
      <input matInput placeholder="Password" min="6" max="20" [(ngModel)]="user.password" name="email" id="password" type="password" [formControl]="passwordFormControl">
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('minlength') || passwordFormControl.hasError('maxlength')">
        Password must be between <strong>6 and 20</strong> characters
      </mat-error>
    </mat-form-field>


    <button mat-flat-button (click)="createUser()">Register</button>
  </form>

</div>
